.container {
  background-color: var(--bg);
}

.book__title__sdc {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--main);
}
.book__title__art__aging {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--aging-color);
}
.main__section {
  padding: 1rem 4rem 5rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cover__container {
  width: 20rem;
}

.book__info__container {
  width: 40rem;
}

.subtitle {
  font-family: "Hind Madurai", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}
.description {
  font-family: "Hind", sans-serif;
}
.buylinks__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30rem;
}

.logo__container {
  width: 10rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.international__covers__section {
  padding: 0rem 4rem 1rem 4rem;
}
.international__cover__container {
  width: 15rem;
}

.slide__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.uk__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uk__cover__container {
  width: 20rem;
  cursor: pointer;
}
.uk__info {
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Hind Madurai", sans-serif;
}

.praise__section {
  display: flex;
  flex-direction: column;
  padding: 0rem 4rem 2rem 4rem;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
}

.title__underline {
  border-bottom: 1px solid var(--accent);
  width: 100%;
}

.quotes__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--accent);
  padding: 1rem;
}
