.embla {
  position: relative;

  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__next,
.embla__prev {
  outline: 0;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  /* color: var(--accent); */
  font-size: 40px;
}

.embla__prev {
  left: 0rem;
}

.embla__next {
  right: 0rem;
}
