.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 4rem 2rem 4rem;
  background-color: #fbc524;
  width: 100%;
}
.footer__links__container {
  display: flex;
  justify-content: space-between;
}

.link__title {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.link__element {
  font-family: "Hind", sans-serif;
}

.link {
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.link:hover {
  color: inherit;
}
.mm__copyright {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  margin-top: 1rem;
}
