.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  background-color: #fbc524;
  font-weight: 500;
  width: 100%;
}

.social__media__icons__container {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.social__media__icon {
  cursor: pointer;
  margin-right: 0.6rem;
}
.mm__copyright {
  margin-right: 1rem;
}
