.container {
  width: 60%;

  margin-top: 1rem;
}
.quote {
  font-size: 1.2rem;
  font-family: "Hind Madurai", sans-serif;
}

.source {
  font-size: 1.1rem;
  font-weight: bold;
  font-style: italic;
  margin-left: 3rem;
  font-family: "Hind Madurai", sans-serif;
}
@media (max-width: 960px) {
  .container {
    width: 80%;
  }
  .quote {
    font-size: 1rem;
  }
}
@media (max-width: 570px) {
  .container {
    width: 100%;
  }
}
