.container {
  background-color: var(--bg);
}

.home {
  display: flex;
  padding: 2rem 4rem 6rem 4rem;
  justify-content: space-evenly;
}

.home__left {
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: #000; */
}

.home__left__bot__container {
  display: flex;
  justify-content: space-between;
}

.walk__container {
  width: 45%;
}

.stripes__container {
  width: 35rem;
}

.teacups__container {
  width: 85%;
}

.bio {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.25rem;
  font-family: "Hind Madurai", sans-serif;
  color: black;
}

.bio__span__name {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--main);
}

.bio__span__title__1 {
  font-weight: bold;
  color: var(--accent);
}

.bio__span__title__2 {
  font-weight: bold;
  color: var(--aging-color);
}

.styled__arrow {
  width: 0;
  height: 40px;
  border: 1px solid var(--main);
  position: absolute;
  animation: scroll 1.5s infinite;
  -webkit-animation: scroll 1.5s infinite;
}

.styled__arrow::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: -5px;
  width: 1px;
  height: 10px;
  border-top: 10px solid var(--main);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

@keyframes scroll {
  0% {
    height: 40px;
  }
  30% {
    height: 85px;
  }
  60% {
    height: 40px;
  }
}

@-webkit-keyframes scroll {
  0% {
    height: 40px;
  }
  30% {
    height: 85px;
  }
  60% {
    height: 40px;
  }
}

.books__section {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  background-color: #00aae333;
}

.books__section__title {
  font-weight: bold;
  font-size: 1.8rem;
}

.book__cover__section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid var(--accent);
}

.book__cover__container {
  width: 20rem;
}

.book__cover {
  cursor: pointer;
}

.death__cleaning__section,
.art__aging__section {
  display: flex;
  width: 45rem;
  color: #000;
  font-size: 1.2rem;
  line-height: 2.25rem;
  font-weight: 400;
  padding: 2rem;
}

.death__cleaning__bio,
.art__aging__bio {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Hind Madurai", sans-serif;
}

.death__cleaning__more__button,
.art__aging__more__button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9rem;
  height: 3rem;
  transition: 0.2s;
  color: black;
  font-weight: 500;
}

.death__cleaning__more__button {
  border: 2px solid var(--accent);
}

.art__aging__more__button {
  border: 2px solid #ec5b44;
}

.death__cleaning__more__button:hover {
  background-color: var(--accent);
}
.art__aging__more__button:hover {
  background-color: var(--aging-color);
}

.death__cleaning__bio__text,
.art__aging__bio__text {
  height: 10rem;
}

.videos__section {
  padding: 2rem 4rem 4rem 4rem;
}
.videos__section__title {
  font-weight: bold;
  font-size: 1.8rem;
}
.video__container {
  padding: 2rem;
  border-top: 1px solid var(--accent);
  display: flex;
  justify-content: center;
  width: 100%;
}
