.container {
  padding: 0rem 4rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.grid__container {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid var(--accent);
  padding-top: 1rem;
}

.ew__container {
  grid-row: span 2;
}

.frankfurter__container {
  grid-row: span 2;
}

.pause__container {
  grid-row: span 2;
}

@media (max-width: 960px) {
  .container {
    padding: 0rem 1rem 2rem 1rem;
  }
  .grid__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 0rem;
  }
  .frankfurter__container {
    grid-row: span 1;
  }
  .pause__container {
    grid-row: span 1;
    grid-row-start: 4;
  }
  .people__container {
    grid-row-start: 2;
  }
  .wired__container {
    grid-row-start: 4;
  }

  .tina__container {
    grid-row-start: 4;
  }
}
