.headlines__section {
  padding: 0rem 4rem 2rem 4rem;
}

.headlines__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding-top: 2rem;
  border-top: 1px solid var(--accent);
}

.headline__container {
  cursor: pointer;
}

.youtube__section {
  padding: 0rem 4rem 2rem 4rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}
.youtube__title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 0.8rem;
}

.title__container {
  display: flex;
  cursor: pointer;
  justify-content: space-between;

  align-items: center;
  padding-bottom: 0.8rem;
}
.social__media__icons__container {
}
.social__media__icon {
  margin-left: 1rem;
  cursor: pointer;
}
.title__underline {
  width: 100%;
  border-bottom: 1px solid var(--accent);
}

.carousel__container {
  height: 35rem;
}
@media (max-width: 630px) {
  .headlines__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 960px) {
  .headlines__section {
    padding: 0rem 1rem 2rem 1rem;
  }
  .youtube__section {
    padding: 0rem 1rem 2rem 1rem;
  }
  .headlines__container__2 {
    margin-top: 1rem;
  }
}
